<div class="row">
  <div class="col-sm-12">
    <h1 class="page-header">お問い合わせ</h1>
    <hr>
    <p>わからないことやおかしな挙動があれば</p>
    <br /><br />
    <h1></head><a href="https://twitter.com/Orfool">@Orfool</a></h1>
    <br /><br />
    <p>までお願いします。</p>
    <hr>
  </div>
</div>
