<h4 class="title">ヘルプ</h4>
    <h4 class="brand">Step1. 新規登録をしよう</h4>
    <hr>
    <p>1.【　新規登録　】ボタンをクリック</p>
    <p>2.【　お名前　】、【　メールアドレス　】、【　パスワード　】、【　アバター画像（任意）】に記載</p>
    <p>3. パスワードに間違いがないことを確認し、【　アカウントを作成　】をクリック</p>
    <hr>
    <h4 class="brand">Step.2 記事を投稿しよう</h4>
    <hr>
    <p>1.【　記事を投稿する　】ボタンをクリック</p>
    <p>2.【　タイトル　】に題名を記載</p>
    <p>3.【　トピック　】を選択</p>
    <p>4.【　本文　】に投稿の内容を記載<p>
    <p>5.【　記事を投稿する　】ボタンをクリック</p>　
    <hr>
    <h4 class="brand">Step.3 記事を評価しよう</h4>
    <hr>
    <p>1.【　本文へ　】ボタンをクリック</p>
    <p>2. 記事右下の【　この記事を評価しよう　】部分で、【　いいね！　】もしくは【　うーん　】をクリック</p>
    <hr>
    <h4 class="brand">Step.4 コメントをしよう</h4>
    <hr>
    <p>1.【　本文へ　】ボタンをクリック</p>
    <p>2. 記事下のコメント欄にコメントを記載</p>
    <p>3.【　コメントを送信する　】をクリック</p>
    <hr>

    <em>*　他にも不明点があれば<%= link_to '【　お問い合わせ　】', contact_path %>よりどしどしご質問ください！</em>