<h4 class="title">ユーザー一覧</h4>
<table class="table table-striped">
	<tr>
		<th>ユーザー名</th>
		<th>記事数</th>
		<th>いいね獲得数</th>
	</tr>
	<% @users.each do |u| %>
	<tr>
		<td><%= link_to u.name, u %></td>
		<td><%= u.articles.count %></td>
		<td><%= u.reputation_for(:votes).to_i %></td>
	</tr>
	<% end %>
</table>