<h4 class="title"><%= @title %></h4>
  <section>
    <%= render 'shared/stats' %>
  </section>

  <% if @users.any? %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>