<div class="row">
  <div class="col-xs-12">
    <footer class="footer">
      <small>
        Orfool inc. &copy All Rights Reserved
      </small>
      <nav>
      <ul>
        <li><%= link_to "ホーム", root_url %></li>
        <li><%= link_to "ヘルプ", help_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
      </nav>
    </footer>
  </div>
</div>
